[package]
name = "celo-poprf-rs"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["lib"]

[dependencies]
bincode = "1.2.1"
rand_core = { version = "0.6.3", default-features = false }
rand = "0.8.5"
serde = {version = "1.0.106", features = ["derive"] }

threshold-bls = { git = "https://github.com/celo-org/celo-threshold-bls-rs", branch = "straka/arkworks" }
thiserror = "1.0.15"

